@import "tailwindcss";

@layer utilities {
  .basketball-texture {
    background-image: radial-gradient(circle at 2px 2px, rgba(255, 255, 255, 0.05) 1px, transparent 0);
    background-size: 24px 24px;
  }
}
